#root {
  max-width: 1440px;
  // background-color: aqua;
  margin: 0 auto;
  padding-top: 45px;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// NAVBAR

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  background-color: #fff;
}

.navbar-logo {
  height: 68px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 57px;
  margin: 0;
  padding: 0;
}

.navbar-link {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar-link:hover {
  text-decoration: underline;
}

/* Responsive navbar */
@media (max-width: 1240px) {
  .navbar {
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
  }
  #root {
    padding-top: 20px;
  }

  .navbar-logo {
    height: 46px;
  }

  .navbar-menu {
    gap: 26px;
  }

  .navbar-item {
    gap: 26px;
  }

  .navbar-link {
    font-size: 0.9rem;
  }
}

//HERO
.hero {
  height: 223px;
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  margin-top: 34px;
}

.hero__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(60%);
}

.hero__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 3rem;
  font-weight: 700;
  font-family: "Montserrat" sans-serif;
}

/* Responsive hero */
@media (max-width: 1240px) {
  .hero {
    height: 111px;
    border-radius: 10px;
    margin-top: 25px;
    // padding: 0 15px;
  }
  body {
    padding: 0 22px;
    height: 100vh;
    width: 100%;
  }
  .hero__title {
    font-size: 1.5rem;
    // border: 1px solid red;
    width: 335px;
    padding-left: 16px;

    // height: 51px;
  }
}

//card
.card {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: contrast(0.8);
}

.card__title {
  position: absolute;
  bottom: 0;
  left: 0;
  // transform: translate(-5);
  padding: 25px;
  color: #fff;
  font-family: "Montserrat" sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  // border: 1px solid red;
  width: 100%;
}

@media (max-width: 1240px) {
  .card {
    width: 335px;
    height: 255px;
  }
  .card__title {
    padding: 15px;
    // border: 1px solid red;
  }
}

//LOGEMENT

.logement {
  width: 100%;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  // border: 1px solid red;
}
.logement__container {
  width: 100%;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;
}
.logement__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logement__title {
  color: #ff6060;
  font-family: "Montserrat";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  // width: 50%;
  height: 51px;
}
.logement__location {
  color: #000;
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
}

.logement__tag {
  // max-width: 150px;
  height: 25px;
  border-radius: 10px;
  background: #ff6060;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  padding: 5px 5px;
}

.logement__tags {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 24px 0;
  // border: 1px solid red;
  max-width: 450px;
}

.logement__infos {
  // border: 1px solid red;
  display: flex;
  justify-content: space-between;
}

.user__infos {
  // border: 1px solid rgb(44, 211, 29);
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 21px;
}
.userInfos__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 64px;
}
.host__name {
  text-transform: capitalize;
  color: #ff6060;
  text-align: right;
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  text-align: left;
}

.host__picture {
  width: 64px;
  height: 64px;
  border-radius: 999px;
  object-fit: cover;
}

.logement__rating {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.logement__rate {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
}
@media (max-width: 1240px) {
  .logement {
    margin: 27px 0;
  }
  .logement__container {
    height: 255px;
    border-radius: 10px;
  }
  .logement__title {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    width: 335px;
    height: 46px;
  }
  .logement {
    gap: 5px;
  }
  .logement__location {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    width: 323px;
    height: 22px;
  }
  body {
    height: 100vh;
    width: 100%;
    padding: 0 22px;
  }
  // .logement__infos {
  //   // border: 1px solid red;
  // }
  .logement__tags {
    gap: 10px;
    width: 100%;
    margin: 10px 0 24px 0;
    justify-content: start;
  }
  .logement__tag {
    border-radius: 5px;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
  }
  .logement__infos {
    flex-direction: column;
  }
  .user__infos {
    flex-direction: row;
  }
  .host__picture {
    width: 32px;
    height: 32px;
  }
  .host__name {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    text-align: right;
  }

  .logement__star {
    width: 13px;
    height: 13px;
    margin-right: 5px;
  }
  .logement_descriptionContainer {
    flex-direction: column;
    gap: 20px;
  }
  .logement__description {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
  }
  .arrows {
    width: 16px;
  }
}
